{% extends 'main.html' %}
{% load static %}

{% block content%}
<div class="row">
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" alt="" src="./assets/images/img-10.jpg">
    </div>
    <div class="col-xs-12 col-md-6">
      <h1> About <span style="color: red;"> Us </span></h1>
      
      <p>Light of Hope Foundation is a group of young and determined youth, whose goals are to help those in need and with the favour God, we shall make it happen.
        with your support combined with us we shall make this place a better World for the children of God.
      </p>
      
      <h3>background </h3>
      <p>Light of Hope foundation was started by Francis Sserunkuma with the love and mercy  he had on his people.due to his constant movement he saw how the children and elderly were suffering,
        he started the movement to help the mass. he wanted to bring about love, peace, joy and happiness among them.
      </p>  
      <h3>Target</h3>
      
      <p>The foundation is looking forward to get donations and funds from the good hearted people of God to save the lives of the suffering for the better tommorow</p>
      <h3>Attributes </h3>
      <p>we are providing the little we have to the needy, to bring transformation of life to the people of 
        God
      </p>
      
      <a href="#contact" class="btn btn-success" title=""> Get in touch</a>
   </div>
  </div>
      
  </main>
  
  <script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarToggleSidebar();
    navActivePage();
  });
  </script>
{% endblock %}