{% extends 'main.html' %}
{% load static %}

{% block content%}
<!-- blog_main -->
<div class="blog_main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="titlepage">
                <h2>Our Achivements</h2>
                <span>By providing the little we have to the needy, acquiring donations from Good hearted people of God and believing in Almighty for support</span>
            </div>
            </div>
        </div>
  <!-- secend section -->
{% for post in posts %}
        <div class="row">
            <div class="col-md-12">
            <div class="our_two_box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our_img">
                        <figure><a href="{% url 'detail' post.id %}"><img class="he_img" src="{{post.image.url}}" alt="HELP" /></figure></a>
                    
                    
                        <div class="our_text_box position_box">
                        <h3 class="awesome withi_color">{{post.title}}</h3>
                        <p class="hiuouh">{{post.content}}</p>
    
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
            </div>
        </div>

{% endfor %}
    </div>    
</div>
{% endblock %}